<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
><head>
    <meta charset="UTF-8">
    <title>Update Patient info</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Update the Patient</h1>

    <form th:action="@{/patient/{id}/update(id=${patientFound.id})}" th:object="${patientFound}" method="post">
        <div class="form-group">
            <label for="nom">Name</label>
            <input type="text" id="nom" th:field="*{nom}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="prenom">Surname</label>
            <input type="text" id="prenom" th:field="*{prenom}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="dateNaissance">Date of Birth</label>
            <input type="date" id="dateNaissance" th:field="*{dateNaissance}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="genre">Gender</label>
            <input type="text" id="genre" th:field="*{genre}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="adressePostale">Address</label>
            <input type="text" id="adressePostale" th:field="*{adressePostale}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="numeroTelephone">Phone Number</label>
            <input type="text" id="numeroTelephone" th:field="*{numeroTelephone}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>